h1{
  font-size:40%;
  background: #00cccc;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
p{
  font-size:21px;
  padding: 20px;
  margin: 20px;
}
a{
  color: blue;
  text-decoration: none;
}
a:hover{
  text-decoration: strong;
}
